
 body{
 	padding: 0px;
 	margin: 0px;
 	background-color: #ccccff;
 	/*font-family: "Lucida Console";*/
 }



.header{
	background-color: #F3F3F3;
}
.header img{
	width: 70px;
	height: 70px;
	margin-left: 100px;
}
.header h2{
	float: right;
	color: #bfff80;
	margin-right: 100px;
	margin-top: 25px;
}



.photoDetails{
  display: flex;
 margin: 15px;
}

.photo{
 margin-right: 10px;
 margin-left: 100px;
}

.about{
	text-align: justify;
	margin-right: 100px;
}

.photo img{
	width: 450px;
	height: 300px;
}

.service{
	margin: 20px;
}

.service h1{
	text-align: center;
}

.service p{
	text-align: justify;
}

.mycontainer{
	display: flex;
}

.mycontainer div{
	width: 33%;
	margin: 10px;
}
